
.cities {
  padding-top: 65px;
  padding-bottom: 65px;
}

.cities__wrapper {
}

.cities__tottori-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 77px;
}

.cities__tottori-img {
  max-width: 597px;
  width: 100%;
  display: block;
}

.cities__tottori-box {
  max-width: 520px;
  margin-left: auto;
}

.cities__tottori-heading {
  margin: 0;
  margin-bottom: 85px;
  font-size: 30px;
  line-height: 40px;
  color: #102746;
}

.cities__tottori-text {
  margin: 0;
  margin-bottom: 58px;
  color: #102746;
}

.cities__tottori-link {
  text-decoration: none;
  display: block;
  color: #006DFE;

  &::after {
    content: "";
    width: 33px;
    height: 8px;
    display: inline-block;
    margin-left: 26px;
    background-image: url("../../img/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.cities__kyoto-wrapper {
  display: flex;
  align-items: center;
}

.cities__kyoto-heading {
  max-width: 357px;
  margin-bottom: 45px;
}

.cities__kyoto-box {
  max-width: 520px;
  margin-right: auto;
}

@include breakpoint-down (1187) {
  .cities__tottori-img {
    max-width: 500px;
  }
}

@include breakpoint-down (1090) {
  .cities__tottori-img {
    max-width: 490px;
  }

  .cities__tottori-box {
    max-width: 490px
  }

  .cities__tottori-heading {
    margin-bottom: 50px;
  }
}

@include breakpoint-down (1050) {
  .cities__tottori-box {
    max-width: 450px
  }

  .cities__kyoto-box {
    max-width: 450px;
  }

  .cities__kyoto-heading {
    margin-bottom: 30px;
  }
}

@include breakpoint-down (1000) {
  .cities__tottori-img {
    max-width: 450px;
  }

  .cities__tottori-heading {
    margin-bottom: 30px;
  }

  .cities__tottori-text {
    margin-bottom: 30px;
  }
}

@include breakpoint-down (950) {
  .cities__tottori-img {
    max-width: 400px;
  }
}

@include breakpoint-down (900) {
  .cities__tottori-box {
    max-width: 400px;
    padding-left: 20px;
  }

  .cities__kyoto-box {
    max-width: 400px;
    padding-right: 20px;
  }

  .cities__tottori-heading {
    font-size: 24px;
  }

  .cities__kyoto-heading {
    max-width: 300px;
    margin-bottom: 10px;
  }

  .cities__tottori-text {
    margin-bottom: 10px;
  }
}

@include breakpoint-down (790) {
  .cities {
    padding-bottom: 35px;
  }

  .cities__tottori-wrapper {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
  }

  .cities__tottori-box {
    margin: 0;
    padding: 0;
    max-width: 700px;
  }

  .cities__tottori-img {
    margin-bottom: 15px;
    max-width: 100%;
  }

  .cities__kyoto-wrapper {
    flex-direction: column;
  }

  .cities__kyoto-box {
    order: 1;
    margin: 0;
    max-width: 700px;
  }

  .cities__kyoto-heading {
    margin-bottom: 30px;
  }
}